<div class="header">
    <div class="headbar">
        <div class="head-title">
            <img id="menu-btn" src="/img/menu.png">
        </div>
        <div class="head-toggle">
            <!-- <div class="dark-mode">
                <span class="material-icons-sharp active" id="light-mode">light_mode</span>
                <span class="material-icons-sharp" id="dark-mode">dark_mode</span>
            </div> -->
            <div class="profile">
                <div class="info">
                    <p>สวัสดี , <b><%= locals.name %></b></p>
                    <small class="text-muted">
                        <% if (locals.user=='student') { %>
                            นักศึกษา
                            <% } else if (locals.user=='teacher') { %>
                                อาจารย์/บุคลากร
                                <% } else if (locals.user=='admin') { %>
                                    แอดมิน
                        <% } %>
                    </small>
                </div>
                <div class="profile-photo">
                    <img src="/img/<%= locals.profile  %>">
                </div>
            </div>
        </div>
    </div>
    <div class="header-desc">
        <div class="desc">
            <h1> Welcome to </h1>
            <h1>Request internship service College of Computing</h1>
        </div>
        <div class="version">
            <h3>version 1.0.0</h3>
        </div>
    </div>
</div>