<main>
    <div class="main">
        <h2>กำหนดการ</h2>
        <div class="document-section">
            <div class="documents">
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>
                <div class="card-document">
                    <h2>28/10/2566</h2>
                    <div class="calendar-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, vel?</div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <p>document download here</p>
                </div>

            </div>

        </div>
    </div>
</main>