<!DOCTYPE html>
<html>
<head>
 <title>Login Page</title>
 <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
        <section>
            <div class="leaves">
                <div class="set">
                <div><img src="/public/img/leaf.png" height="40" alt=""></div>
                <div><img src="/public/img/leaf.png" height="40" alt=""></div>
                <div><img src="/public/img/leaf.png" height="40" alt=""></div>
                <div><img src="/public/img/leaf2.png" height="40" alt=""></div>
                <div><img src="/public/img/leaf2.png" height="40" alt=""></div>
                <div><img src="/public/img/leaf2.png" height="40" alt=""></div>
                <div><img src="/public/img/leaf3.png" height="40" alt=""></div>
                <div><img src="/public/img/leaf3.png" height="40" alt=""></div>
            </div>
            </div>
            <img src="/public/img/bg.png" alt="" class="bg">
            <img src="" alt="" class="girl">
            <img src="/public/img/bg2.png" alt="" class="trees">
            <div class="login">
                <h2>เข้าสู่ระบบ</h2>
                <div class="inputBox">
                    <input type="text" placeholder="รหัสนักศึกษา">
                </div>
                <div class="inputBox">
                    <input type="password" placeholder="รหัสผ่าน">
                </div>
                <div class="inputBox">
                    <input type="submit" value="Login" id="btn">
                </div>
                <div class="group">
                    <a href="">ลืมรหัสผ่าน</a>
                    <a href="">สมัคร</a>
                </div>
            </div>
        </section>
</body>
</html>