<!DOCTYPE html>
<html>
<head>
 <title>Login Page</title>
 <link rel="stylesheet" href="/public/css/login.css">
</head>
<body>
        <section>
            <img src="/img/bg.png" alt="" class="bg">
            
            <form action="/user/login" method="post">
                <div class="login">
                <h2>ระบบจัดการนักศึกษาฝึกงาน</h2>
                <div class="inputBox">
                    <input name="username" type="text" placeholder="อีเมล/บัญชีผ้ใช้">
                </div>
                <div class="inputBox">
                    <input name="password" type="password" placeholder="รหัสผ่าน">
                </div>
                <div class="inputBox">
                    <input type="submit" value="เข้าสู่ระบบ" id="btn">
                </div>
            </div>
            </form>
            
        </section>
</body>
</html>