<!-- MODAL -->
<div class="modal-back close" id="modal-back">
</div>
<div class="modal close" id="modal">
    <div class="modal-box">
        <h2>เลือก</h2>
        <div class="menu">
            <a href="request/form">ยื่นคำร้อง</a>
        </div>
        <div class="menu">
            <a href="request-requirment-temp.html">ยื่นเอกสารสำเร็จการศึกษา</a>
        </div>
    </div>
</div>
<!-- END MODAL -->
<main>
    <div class="main">
        <div class="add-request">
            <div class="boder-add-request" id="boder-add-request">
                <span class="material-icons-sharp">add_circle</span>
                <a>ยื่นคำร้อง</a>
            </div>
        </div>
        <h2>คำร้องล่าสุด</h2>
        <div class="request-section">
            <div class="card-request">
                <div class="request-details">
                    <h2>ยื่นคำร้องขอฝึกงาน</h2>
                    <div class="details-section">
                        <div>
                            <h3>วันที่ยื่นคำร้อง</h3>
                            <h3>24 มิ.ย. 2023</h3>
                        </div>
                        <div>
                            <h3>อัพเดตล่าสุด</h3>
                            <h3>24 มิ.ย. 2023</h3>
                        </div>
                        <div>
                            <h3>ความคืบหน้า</h3>
                            <div class="block-status">
                                <div class="block status-pass"></div>
                                <div class="block status-pass"></div>
                                <div class="block status-pass"></div>
                                <div class="block status-pass"></div>
                                <div class="block status-pass"></div>
                            </div>
                        </div>
                        <div>
                            <h3>การดำเนินการล่าสุด</h3>
                            <h3>24 มิ.ย. 2023</h3>
                        </div>
                    </div>
                </div>
                <div class="request-doc">
                    <div class="request-status successed">
                        <span class="material-icons-sharp">
                            check_circle
                        </span>
                        <h3>
                            สำเร็จ</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>