<main>
    <div class="main">
        <div class="header-main">
            <h2>สถานประกอบการ-หน่วยงานที่เคยรับนักศึกษาฝึกงาน</h2>
            <div class="sort">
                <select>
                    <option selected value="0">จัดเรียงตาม</option>
                    <option value="1">ชื่อ</option>
                    <option value="2">สถานที่ฝึกงาน</option>
                    <option value="3">จังหวัด</option>
                </select>
            </div>

            <div class="search">
                <input type="text" placeholder="searching">
            </div>

            <div class="add-btn">
                <a>เพิ่ม</a>
                <span class="material-icons-sharp">
                    domain_add
                </span>
            </div>
        </div>
        <div class="table">
            <table class="styled-table">
                <thead>
                    <tr>
                        <!-- <th>ชื่อ</th> -->
                        <th>บริษัท/หน่วยงาน</th>
                        <th>เบอร์โทร บริษัท/หน่วยงาน</th>
                        <th>ประเภทธุรกิจ</th>
                        <th class="location">ที่อยู่</th>
                        <th>ตำแหน่งที่เคยรับ</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>บริษัท บูลยเกียรติ จำกัด</td>
                        <td>09876543210</td>
                        <td>บัญชี / ผู้ตรวจบัญชี</td>
                        <td class="location">ฝึกงาน ขนงพระ, ปากช่อง, นครราชสีมา, 30130</td>
                        <td class="position">
                            <div class="backend">
                                UX/UI
                            </div>
                        </td>
                        <td>
                            <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>บริษัท เบทเตอร์ ยูนิค แอคเค้าติ้ง จำกัด</td>
                        <td>09876543210</td>
                        <td>บัญชี / ผู้ตรวจบัญชี</td>
                        <td class="location">10/125 ซอยนวมินทร์ 93 ถนนนวมินทร์ แขวงนวมินทร์ เขตบึงกุ่ม กทม.10240
                            บึงกุ่ม, กรุงเทพมหานคร</td>
                        <td class="position">
                            <div class="backend">
                                fontend
                            </div>
                            <div class="backend">
                                backend
                            </div>
                            <div class="backend">
                                tester
                            </div>
                        </td>
                        <td>
                            <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>บริษัท บูลยเกียรติ จำกัด</td>
                        <td>09876543210</td>
                        <td>โรงแรม / รีสอร์ท</td>
                        <td class="location">16 หมู่ 7 ถ.นิคมลำตะคลอง ต.ขนงพระ อ.ปากช่อง จ.นครราชสีมา 30130
                            ขนงพระ, ปากช่อง, นครราชสีมา, 30130</td>
                        <td class="position">
                            <div class="backend">
                                fontend
                            </div>
                            <div class="backend">
                                backend
                            </div>
                            <div class="backend">
                                tester
                            </div>
                            <div class="backend">
                                data analytics
                            </div>
                            <div class="backend">
                                deverloper
                            </div>
                            <div class="backend">
                                mobile
                            </div>
                        </td>
                        <td>
                            <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>Internships Recruitment (Thailand) Company Limited</td>
                        <td>09876543210</td>
                        <td>โรงแรม / รีสอร์ท</td>
                        <td class="location">16 หมู่ 7 ถ.นิคมลำตะคลอง ต.ขนงพระ อ.ปากช่อง จ.นครราชสีมา 30130
                            ขนงพระ, ปากช่อง, นครราชสีมา, 30130</td>
                        <td class="position">
                            <div class="backend">
                                fontend
                            </div>
                            <div class="backend">
                                backend
                            </div>
                            <div class="backend">
                                tester
                            </div>
                            <div class="backend">
                                data analytics
                            </div>
                            <div class="backend">
                                deverloper
                            </div>
                            <div class="backend">
                                mobile
                            </div>
                        </td>
                        <td>
                            <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>บริษัท บูลยเกียรติ จำกัด</td>
                        <td>09876543210</td>
                        <td>โรงแรม / รีสอร์ท</td>
                        <td class="location">16 หมู่ 7 ถ.นิคมลำตะคลอง ต.ขนงพระ อ.ปากช่อง จ.นครราชสีมา 30130
                            ขนงพระ, ปากช่อง, นครราชสีมา, 30130</td>
                        <td class="position">
                            <div class="backend">
                                fontend
                            </div>
                            <div class="backend">
                                backend
                            </div>
                            <div class="backend">
                                tester
                            </div>
                            <div class="backend">
                                data analytics
                            </div>
                            <div class="backend">
                                deverloper
                            </div>
                            <div class="backend">
                                mobile
                            </div>
                        </td>
                        <td>
                            <div class="more-details">
                                <p>เพิ่มเติม</p>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>



    </div>
</main>