<!-- MODAL -->
<div class="modal-back close" id="modal-back">
</div>
<div class="modal close" id="modal">
    <div class="modal-box">
        <h2>เลือก</h2>
        <div class="menu">
            <a href="request/form">ยื่นคำร้อง</a>
        </div>
        <div class="menu">
            <a href="request-requirment-temp.html">ยื่นเอกสารสำเร็จการศึกษา</a>
        </div>
    </div>
</div>
<!-- END MODAL -->
<main>
    <div class="main">
        <h2>สถานะการฝึกงาน</h2>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>วันที่ยื่นเรื่อง</th>
                    <th>รหัสนักศึกษา</th>
                    <th>ชื่อนักศึกษา</th>
                    <th>ตำแหน่ง</th>
                    <th>หน่วยงาน/บริษัท</th>
                    <th>ช่วงเวลาฝึกงาน</th>
                    <th>สถานะการฝึกงาน</th>
                    <th>เพิ่มเติม</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div>
                            <h3>3/01/2566</h3>
                        </div>
                    </td>
                    <td>633020568-3</td>
                    <td>jirakorn donhuabo</td>
                    <td>backend deverloper</td>
                    <td>น่าอยู่ คอเฟอร์เรชั่น</td>
                    <td>10/10/2566 - 10/1/2567</td>
                    <td>
                        <div class="status-approve pendding">
                            <a>
                                อยู่ในช่วงการฝึกงาน
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">...</button>
                            <div class="dropdown-content">
                                <a href="#">รายระเอียดคำร้องขอฝึกงาน</a>
                                <a href="#">เอกสารยื่นคำร้องขอฝึกงาน</a>
                                <a href="#">เอกสารรับรองการสำเร็จการฝึกงาน</a>
                                <a href="#">บันทึกการฝึกงานและการประเมิน</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr class="active-row">
                    <td>
                        <div>
                            <h3>3/01/2566</h3>
                        </div>
                    </td>
                    <td>633020568-3</td>
                    <td>jirakorn donhuabo</td>
                    <td>backend deverloper</td>
                    <td>น่าอยู่ คอเฟอร์เรชั่น</td>
                    <td>10/10/2566 - 10/1/2567</td>
                    <td>
                        <div class="status-approve pendding">
                            <a>
                                รอส่งเอกสารฝึกงาน
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">...</button>
                            <div class="dropdown-content">
                                <a href="#">รายระเอียดคำร้องขอฝึกงาน</a>
                                <a href="#">เอกสารยื่นคำร้องขอฝึกงาน</a>
                                <a href="#">เอกสารรับรองการสำเร็จการฝึกงาน</a>
                                <a href="#">บันทึกการฝึกงานและการประเมิน</a>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr>
                    <td>
                        <div>
                            <h3>3/01/2566</h3>
                        </div>
                    </td>
                    <td>633020568-3</td>
                    <td>jirakorn donhuabo</td>
                    <td>backend deverloper</td>
                    <td>น่าอยู่ คอเฟอร์เรชั่น</td>
                    <td>10/10/2566 - 10/1/2567</td>
                    <td>
                        <div class="status-approve success">
                            <a>
                                ผ่านการฝึกงาน
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="dropbtn">...</button>
                            <div class="dropdown-content">
                                <a href="#">รายระเอียดคำร้องขอฝึกงาน</a>
                                <a href="#">เอกสารยื่นคำร้องขอฝึกงาน</a>
                                <a href="#">เอกสารรับรองการสำเร็จการฝึกงาน</a>
                                <a href="#">บันทึกการฝึกงานและการประเมิน</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- and so on... -->
            </tbody>
        </table>
    </div>
</main>