<main>
    <div class="main">
        <div class="title-header">
            <h2>เอกสารที่เกี่ยวข้อง</h2>
            <div class="add-btn">
                <a>เพิ่มเอกสาร</a>
                <span class="material-icons-sharp">
                        post_add
                </span>
            </div>
        </div>
        
        <div class="document-section">
            <div class="documents">
                <div class="card-document">
                    <div class="card-document-header">
                        <h2>รายละเอียดบริษัท/หน่วยงาน</h2>
                        <div class="edit-ic">
                            <span class="material-icons-sharp">
                                edit
                            </span>
                            <span class="material-icons-sharp">
                                delete
                            </span>
                        </div>
                    </div>
                    
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <div class="downlaod">
                        <h3>downlaod</h3>
                        <h3>Click !</h3>
                    </div>
                    <div class="date-upload">10-10-2566</div>
                </div>
                <div class="card-document">
                    <div class="card-document-header">
                        <h2>หนังสือยินยอมผู้ปกครอง</h2>
                        <div class="edit-ic">
                            <span class="material-icons-sharp">
                                edit
                            </span>
                            <span class="material-icons-sharp">
                                delete
                            </span>
                        </div>
                    </div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <div class="downlaod">
                        <h3>downlaod</h3>
                        <h3>Click !</h3>
                    </div>
                    <div class="date-upload">10-10-2566</div>
                </div>
                <div class="card-document">
                    <div class="card-document-header">
                        <h2>ประวัตินักศึกษา</h2>
                        <div class="edit-ic">
                            <span class="material-icons-sharp">
                                edit
                            </span>
                            <span class="material-icons-sharp">
                                delete
                            </span>
                        </div>
                    </div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <div class="downlaod">
                        <h3>downlaod</h3>
                        <h3>Click !</h3>
                    </div>
                    <div class="date-upload">10-10-2566</div>
                </div>
                <div class="card-document">
                    <div class="card-document-header">
                        <h2>ใบรับรองการฝึกงาน</h2>
                        <div class="edit-ic">
                            <span class="material-icons-sharp">
                                edit
                            </span>
                            <span class="material-icons-sharp">
                                delete
                            </span>
                        </div>
                    </div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <div class="downlaod">
                        <h3>downlaod</h3>
                        <h3>Click !</h3>
                    </div>
                    <div class="date-upload">10-10-2566</div>
                </div>
                <div class="card-document">
                    <div class="card-document-header">
                        <h2>ข้อปฏิบัติในการฝึกงาน</h2>
                        <div class="edit-ic">
                            <span class="material-icons-sharp">
                                edit
                            </span>
                            <span class="material-icons-sharp">
                                delete
                            </span>
                        </div>
                    </div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <div class="downlaod">
                        <h3>downlaod</h3>
                        <h3>Click !</h3>
                    </div>
                    <div class="date-upload">10-10-2566</div>
                </div>
                <div class="card-document">
                    <div class="card-document-header">
                        <h2>รายชื่อสถานประกอบการ-หน่วยงานที่เคยรับนักศึกษาฝึกงาน</h2>
                        <div class="edit-ic">
                            <span class="material-icons-sharp">
                                edit
                            </span>
                            <span class="material-icons-sharp">
                                delete
                            </span>
                        </div>
                    </div>
                    
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <div class="downlaod">
                        <h3>downlaod</h3>
                        <h3>Click !</h3>
                    </div>
                    <div class="date-upload">10-10-2566</div>
                </div>

                <div class="card-document">
                    
                    <div class="card-document-header">
                        <h2>สมุดบันทึกการฝึกงาน</h2>
                        <div class="edit-ic">
                            <span class="material-icons-sharp">
                                edit
                            </span>
                            <span class="material-icons-sharp">
                                delete
                            </span>
                        </div>
                    </div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <div class="downlaod">
                        <h3>downlaod</h3>
                        <h3>Click !</h3>
                    </div>
                    <div class="date-upload">10-10-2566</div>
                </div>
                <div class="card-document">
                    <div class="card-document-header">
                        <h2>แบบประเมินการฝึกงาน</h2>
                        <div class="edit-ic">
                            <span class="material-icons-sharp">
                                edit
                            </span>
                            <span class="material-icons-sharp">
                                delete
                            </span>
                        </div>
                    </div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <div class="downlaod">
                        <h3>downlaod</h3>
                        <h3>Click !</h3>
                    </div>
                    <div class="date-upload">10-10-2566</div>
                </div>
                <div class="card-document">
                    <div class="card-document-header">
                        <h2>ผลระเมินการฝึกงาน</h2>
                        <div class="edit-ic">
                            <span class="material-icons-sharp">
                                edit
                            </span>
                            <span class="material-icons-sharp">
                                delete
                            </span>
                        </div>
                    </div>
                    <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo placeat rerum neque
                        voluptatibus vero eligendi ea enim sequi maxime repellendus?</h3>
                    <div class="downlaod">
                        <h3>downlaod</h3>
                        <h3>Click !</h3>
                    </div>
                    <div class="date-upload">10-10-2566</div>
                </div>

            </div>

        </div>
    </div>
</main>