@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


:root {
    --color-primary: #6C9BCF;
    --color-danger: #FF0060;
    --color-success: #1B9C85;
    --color-warning: #F7D060;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.24);
    --color-dark-variant: #015fa2;
    --color-dark-variant2: #d5edff;
    --color-background: #ffffff;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 1.2rem;
    --color-table: #fff;
    --color-table-even: #f3f3f3;
    --vs-primary: 29 92 255;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
    --color-cp: #0D75BD;
    --color-text-cp: var(--color-white);
    --color-toggle-mode: var(--color-dark-variant);
    
    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow2: 0.5px 1px 6px 2px var(--color-light);
    --box-shadow3: 0px 1px 6px 2px rgba(255, 255, 255, 0.507);
    --box-shadow4: 0px 1px 3px 1px #4caf4f72;
    --box-shadow5: 0px 1px 3px 1px #fa00004d;
    --box-shadow6: 0px 1px 3px 1px #f7932755;
    --box-shadow7: 0px 1px 3px 1px #f86d0344;
    --box-shadow-cp: 0px 1px 3px 1px #0d74bd60;

    --dot-dark: url(/img/dots.png);
    --dot-white: url(/img/dots2.png);
    --search-dark: url(/img/search-1.png);
    --search-white: url(/img/search-2.png);
    --add-dark: url(/img/add-dark.png);
    --add-white: url(/img/add-white.png);
}

.dark-mode-variables {
    --color-background: #181a1e;
    --color-white: #202528;
    --color-dark: #edeffd;
    --color-table: #c5c5c5;
    --color-table-even: #f3f3f3;
    --color-text-cp: var(--color-dark);
    --color-cp: #0D75BD;
    --color-dark-variant: #3185c1;
    --color-dark-variant2: #0D75BD;
    --color-toggle-mode: var(--color-dark-variant);
    --color-light: rgba(0, 0, 0, 0.4);
    --box-shadow: 0 2rem 3rem var(--color-light);
    --box-shadow2: 0.5px 1px 6px 2px var(--color-light);
    --dot-dark: url(/img/dots.png);
    --dot-white: url(/img/dots2.png);
    --search-dark: url(/img/search-2.png);
    --search-white: url(/img/search-1.png);
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    max-width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
    background-color: var(--color-background);
}

a {
    color: var(--color-dark);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-weight: 600;
    font-size: 1.4rem;
}

h3 {
    font-weight: 500;
    font-size: 0.87rem;
}

small {
    font-size: 0.76rem;
}

p {
    color: var(--color-dark);
}

b {
    color: var(--color-dark);
}

/* <select> styles */
select {
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    width: 100%;
    height: 100%;
    padding: 0 2em 0 1em;
    color: var(--color-dark);
    border-radius: 0.25em;
    background-color: none;
    cursor: pointer;
}

select option {
    color: inherit;
    background-color: var(--color-white);
}

select:focus {
    outline: none;
}

select::-ms-expand {
    display: none;
}

/* end <select> styles */

.container {
    max-width: 100%;
    height: 100vh;
    background-color: var(--color-background);
    display: grid;
    margin: 0 auto;
    grid-template-areas:
        'sidebar header header header header header'
        'sidebar main main main main main';
}

.show-bar{
    grid-template-columns: 14rem auto 25rem;
    /* sidebar hide 6rem */
    grid-template-rows: 14rem auto;
    transition: all 0.5s ease;
}

.hide-bar{
    grid-template-columns: 6rem auto 25rem;
    grid-template-rows: 14rem auto;
    transition: all 0.5s ease;
}

.container aside {
    height: 100%;
    grid-area: sidebar;
    background-color: var(--color-white);
    transition: all 0.5s ease;
}

.show-bar aside .sidebar a h3 {
    display:block;
    padding-right: 5px;
    transition: all 0.5s ease;
}

.hide-bar aside .sidebar a h3 {
    display:none;
    padding-right: 10px;
    transition: all 0.5s ease;
}

aside .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.4rem;
    /* transition: all 0.5s ease;   */
}

.show-bar aside .toggle .logo h2{
    display:block;
    /* transition: all 0.5s ease; */
}

.hide-bar aside .toggle .logo h2{
    display:none;
    /* transition: all 0.5s ease; */
}

aside .toggle .logo {
    display: flex;
    gap: 0.5rem;
    /* transition: all 0.5s ease; */
}

aside .toggle .logo img {
    width: 2rem;
    height: 2rem;
}

aside .toggle .close {
    padding-right: 1rem;
    display: none;
    transition: all 0.5s ease;
}

aside .sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
    /* border-radius: 15px; */
    height: 100%;
    position: relative;
    top: 1.5rem;
    transition: all .5s ease;
}

aside .sidebar:hover {
    box-shadow: none;
}

aside .sidebar a {
    display: flex;
    align-items: center;
    color: var(--color-info-dark);
    height: 3.7rem;
    gap: 1rem;
    position: relative;
    margin-left: 1.5rem;
    transition: all 0.5s ease;
}

aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 0.5s ease;
}

aside .sidebar a:last-child {
    position: absolute;
    bottom: 2rem;
    width: 100%;
}

aside .sidebar a.active {
    width: 100%;
    color: var(--color-primary);
    background-color: var(--color-light);
    margin-left: 0;
}

aside .sidebar a.active::before {
    content: '';
    width: 6px;
    height: 80%;
    border-radius: 8px;
    background-color: var(--color-primary);
}

aside .sidebar a.active span :not(.message-count) {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}

aside .sidebar a:hover {
    color: var(--color-primary);
}

aside .sidebar a:hover span {
    margin-left: 0.6rem;
}

.hide-bar aside .sidebar a span.message-count{
    display: none;
}

aside .sidebar .message-count {
    background-color: var(--color-danger);
    padding: 2px 6px;
    margin-right: 0.5rem;
    color: #fff;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}

p {
    border-style: dotted dashed solid double;
}

input {
    color: var(--color-dark);
    background-color: var(--color-white);
    caret-color: var(--color-dark);
}

.sidebar h4 {
    padding: 0 0.5rem;
    text-align: left;
    font-weight: 600;
}

.sidebar h4:before {
    content: '';
    width: 100%;
    height: 1px;
    margin: 0px;
    background: #ccc;
    display: inline-block;
    vertical-align: middle;
}
.status{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    width: 100%;
    height: 12rem;
    max-height: 20rem;
    grid-area: header;
    /* background-color: #F7D060; */
}

.headbar {
    width: 100%;
    height: 30%;
    display: flex;
    background-color: var(--color-cp);
    -webkit-box-shadow: 0 4px 2px 0px #023e68be;
    -moz-box-shadow: 0 4px 2px 0px #023e68be;
    box-shadow: 0 4px 2px 0px #023e68be;
    position: relative;
    z-index: 10;
}

.header-desc {
    width: 100%;
    height: 70%;
    background-color: var(--color-cp);
    display: flex;
}

.desc {
    width: 90%;
    height: 100%;
}

.version {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: end;
    padding-right: 2rem;
    align-items: end;
}

.version h3 {
    color: var(--color-text-cp);
}

.head-title {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.head-toggle {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    gap: 2rem;
    padding-right: 2rem;
    align-items: center;
}

.header-desc h1 {
    color: var(--color-text-cp);
    padding: 1rem 0 0 1rem;
    text-align: left;
}

.header .headbar .head-title img {
    width: 2rem;
    height: 2rem;
    margin: 0 0.5rem;
}

.profile-photo img {
    width: 2.5rem;
    height: 2.5rem;
    margin-bottom: 0.3rem;
    border-radius: 50%;
}

.head-toggle .dark-mode {
    background-color: var(--color-toggle-mode);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.25rem;
    width: 6rem;
    cursor: pointer;
    border-radius: 8px;
}

.head-toggle .dark-mode span {
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-section .dark-mode span.active {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius-1);
}

.headbar .head-toggle .profile {
    display: flex;
    gap: 2rem;
    text-align: right;
}

.headbar .head-toggle .profile .profile-photo {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.info p,
b,
small {
    color: var(--color-white);
}

/* main */

main {
    /* background-color: #1B9C85; */
    grid-area: main;
    display: grid;
    gap: 1rem
}

.material-icons-sharp.active{
    background-color: var(--color-white);
    border-radius: 8px;
}

.main{
    width: 100%;
    height: 100%;
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
}
.main .header-main{
    height: 3.5rem;
    margin-left: 10rem;
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    align-items: start;
}

.header-main div{
    background-color: var(--color-white);
    box-shadow: var(--box-shadow2);
    display: flex;
    height: 2.1rem;
    border-radius: 8px;
}


.header-main .add-btn{
    border-radius: 8px;
    margin: 0.1rem 0 0 2rem;
    padding: 8px;
    display: flex;
    width: 8rem;
    justify-content: space-around;
    align-items: center;
}

.add-btn:hover{
    background-color: var(--color-cp);
    box-shadow: var(--box-shadow-cp);
    color: var(--color-white);
}

.add-btn:hover a{
    color: var(--color-white);
}


.main .title-header h2{
    width: fit-content;
    margin-left: 5rem;
    
}

.header-main .sort{
    margin-top: 0.1rem;
    margin-left: 5rem;
    width: 8rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sort select{
    background: var(--dot-dark) no-repeat right 0.8em center / 1.4em;
}

.search{
    margin-top: 0.1rem;
    margin-left: 2rem;
    width: 18rem;
    display: flex;
    align-items: center;
}

.search input{
    width: 100%;
    padding: 0 1.5em;
    background: var(--search-dark) no-repeat right 2em center / 1em;
}

.styled-table {
    border-collapse: collapse;
    margin: 1rem 0;
    font-size: medium;
    font-family: 'Poppins' , sans-serif;
    min-width: 80vw;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.table{
    width: 100%;
    height: auto;
    margin-left: 5rem;
}

.styled-table thead tr {
    background-color: var(--color-cp);
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    max-width: 15vw;
    padding: 12px 15px;
    margin: auto 0;
    height: 4.5rem;
}

.request-doc .table{
    width: 80%;
}
.request-doc .table td.position{
    max-width: 100%;
    min-width: 100%;
    padding: 12px 10%;
    margin: auto 0;
    display: flex;
    align-items: center;
}

.request-doc td:first-child{
    text-align:left;
}

.request-doc .table .styled-table {
    border-collapse: collapse;
    margin: 2rem auto;
    font-size: medium;
    font-family: 'Poppins' , sans-serif;
    min-width: 90%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.request-doc .table{
    width: 90%;
    height: 40rem;
    margin: 0% 5%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.request-doc .topic{
    justify-content: left;
}

td.location{
    max-width: 20vw;
    text-align: left;
}
.styled-table tbody tr {
    text-align: center;
    margin: auto 0;
    align-self: center;
    background-color: var(--color-table);
    color: #000;
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--color-table-even);
    color: #000;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid var(--color-cp);
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: var(--color-cp);
}

.styled-table tbody tr td:last-child .approve{
    padding: 5px;
    border-radius: 20px;
}

.styled-table tbody tr td.success:last-child .approve{
    background-color: var(--color-success);
    color: white;
}

.styled-table tbody tr td.waiting:last-child .approve{
    background-color: #f79327;
    color: white;
}

.styled-table tbody tr td.unsuccess:last-child .approve{
    background-color: var(--color-danger);
    color: white;
}

td.position{
    margin-top: 0.5rem;
}


.position{
    display: flex;
    gap: 5px;
    max-width: 100%;
    min-height: 50%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem;
}

.position div{
    background-color: var(--color-cp);
    padding: 8px 30px;
    color: var(--color-white);
    border-radius: 20px;
    font-size: 0.8rem;
    /* margin: auto; */
}
.position div a{
    font-size: 1rem;
}

form{
    width: 100%;
    height: 100%;
}

.request-doc .position div{
    width: auto;
}
/* .main h2{
    height: 3.5rem;
    margin-left: 10rem;
    margin-top: 3rem;
    background-color: red;
} */

.more-details{
    background-color: var(--color-white);
    box-shadow: var(--box-shadow2);
    border-radius: 6px;
    padding: 5px;
}
.more-details a,
.more-details p{
    font-size: small;
}

/* Modal */

.modal{
    position: fixed;
    width: 70%;
    height: 90%;
    background-color: none;
    z-index: 90;
    left: 15%;  
    top: 5%;
    border-radius: 8px;
    overflow-y: scroll;
    overflow-x: hidden;
}
.modal#modal2{
    width: 45%;
    left: 27.5%; 
    height: 95%;
    top: 2.5%; 
}

.modal:first-child{
    height: 50%;
    top: 25%;
}

.modal-back{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000b12d6;
    z-index: 88;
}

.modal .modal-box h2{
    margin-left: 2rem;
}

.close{
    display: none;
}

.modal .modal-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.modal:first-child .modal-box .datas {
    height: 10%;
}

.request-doc {
    background-color: var(--color-white);
    width: 90%;
    height: 101rem;
    display: flex;
    margin: 2rem auto 1rem auto;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: var(--box-shadow2);
}

.topic {
    margin: 0;
    width: 100%;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.topic:first-child{

    margin-top: 3rem;
}

.topic2 {
    width: 100%;
    height: 2.5%;
    display: grid;
    grid-template-columns: 50% 50%;
    
}

.topic2 h2 {
    font-size: medium;
    padding-left: 2rem;
}

.topic h2 {
    font-size: medium;
    padding-left: 2rem;
}

.topic .sub-txt{
    font-size: medium;
    padding-left: 2rem;
}

.approved{
    width: 100%;
    height: 20%;
    margin: 1rem 0 2rem 2rem;
    display: flex;
    flex-direction: row;
}

.border-status{
    width: 40%;
    height: 40%;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow2);
    border-radius: 8px;
}
.border-status select{
    text-align: center;
    padding: 0;
}

.border-status select:has(option[value="0"]:checked) {
    color: var(--color-dark);
    background: var(--dot-dark) no-repeat right 0.8em center / 1.4em;
    background-color: var(--color-warning);
}

.border-status select:has(option[value="1"]:checked) {
    color: var(--color-white);
    background: var(--dot-white) no-repeat right 0.8em center / 1.4em;
    background-color: var(--color-success);
}
.border-status select:has(option[value="2"]:checked) {
    background: var(--dot-white) no-repeat right 0.8em center / 1.4em;
    background-color: var(--color-danger);
    color: var(--color-white);
}

.request-doc .approved{
    height: 10%;
}

.topic h2 {
    font-size: medium;
    padding-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.request-doc .info-intern{
    min-width: 95%;
    margin: 2rem 2rem 1rem 2rem;
    min-height: 13rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    gap: 2%;
}
.uploads-content{
    margin-left: 3rem;
}

.uploads-section .uploads-content,
.info-intern .uploads-content{
    width: 96%;
    height: 100%;
    /* background-color: var(--color-warning); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.uploads-content input[type="text"]{
    padding-left: 1rem;
    text-wrap: balance;
}

.uploads-content a {
    margin-left: 3%;
    margin-bottom: 1%;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    font-weight: 700;
}

.border-input{
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    height: 40%;
    border-radius: 4px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.modal#alert .border-input{
    justify-content: center;
    align-items: center;
    margin: 2rem 5%;
}

.border-input input{
    height: 100%;
    width: 100%;
    padding: 0 1rem;
    border-radius: 4px  ;
    box-shadow: var(--box-shadow2);
    text-wrap: balance;
}

.modal#alert .border-input input{
    text-align: center;
}

.modal#alert .border-input input.pass{
    box-shadow: var(--box-shadow4);
    color: var(--color-success);
    font-weight: 700;
}

.modal#alert .border-input input.fail{
    box-shadow: var(--box-shadow5);
    color: var(--color-danger);
    font-weight: 700;
}

.border-input2{
    background-color: rgba(255, 255, 255, 0);
    width: 80%;
    min-height: 40%;
    padding-left: 1%;
    border-radius: 4px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.border-input2 input{
    min-height: 100%;
    min-width: 46%;
    padding: 0 1rem;
    border-radius: 4px  ;
    box-shadow: var(--box-shadow2);
}

.border-input2 h3{
    font-size: small;
    margin: 0 2%;
    font-weight: 500;
}

.info-address{
    min-width: 95%;
    margin: 2rem;
    min-height: 20rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap: 2%;
}

.info-phone{
    min-width: 95%;
    margin: 0 2rem;
    min-height: 6.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
}

.info-phone .uploads-content{
    margin-left: 3rem;
    width: 90%;
    height: 100%;
}

.info-phone .uploads-content .border-input{
    margin-top: 0.5rem;
}


.info-address .uploads-content{
    width: 96%;
    height: 100%;
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.send-date{
    min-width: 95%;
    margin: 0 2.5% 0 0;
    min-height: 2.5rem;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.send-date .uploads-content .border-input input{
    margin-left:2rem;
}

.send-date .uploads-content:last-child{
    margin-left: 2rem;
}

.send-date .uploads-content:last-child .border-input input{
    width: 100%;
    padding-left: 1rem;
    margin-left: 3.5rem;
}


.send-date .uploads-content .border-input {
    height: 100%;
}

.uploads-section {
    width: 90%;
    height: 50%;
    margin: 1rem;
    /* background-color: #1B9C85; */
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
    gap: 5px;
}

.border-uploads {
    background-color: var(--color-white);
    box-shadow: var(--box-shadow2);
    width: 100%;
    height: 45%;
    padding-left: -1px;
    border-radius: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.border-uploads .border-space{
    margin-left: 1rem;
}

.request-cer {
    background-color: var(--color-white);
    width: 90%;
    height: 35rem;
    display: flex;
    margin: 2rem auto 2rem auto;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: var(--box-shadow2);
}

.request-cer .approved{
    height: 25%;
}

.request-cer a{
    font-weight: 500;
    margin: auto 0;
}

.links{
    text-decoration: underline solid 1px var(--color-dark);
}

.submit{
    width: 100%;
    height: 5%;
    /* background-color: red; */
    padding-left: 3.5rem;
    margin-bottom: 2rem;
}

.submit button{
    border-radius: 8px;
    padding: 0.6rem 2.5rem;
    font-size: medium;
    font-weight: 700;
    background: #084cdf;
    color: #fff;
}

.modal#alert .submit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 2rem 1rem 1rem 1rem;
}

.submit button:hover{
    background: #0d45a5;
}

.comment{
    width: 50%;
    height: 100%;
}
.comment textarea {
    -webkit-appearance: none;
    box-sizing: border-box;
    outline: none;
    width: 80%;
    height: 80%;
    margin-left: 3rem;
    line-height: 22px;
    padding: 10px;
    border-radius: 15px;
    color: #404660;
    border: none;
    background: #fff;
    resize: none;
    transition: box-shadow 0.25s;
    box-shadow: inset 0 0 0 1px var(--border-color, #e1e6f9), 0 0 0 3px var(--focus-color, transparent);
}

.comment h3{
    margin: 0 0 0.5rem 4rem;
    font-size: small;
    font-weight: 500;
}

.topic.header-main{
    width: 100%;
    height: auto;
    margin-bottom: 2rem;
}

.topic.header-main h2{
    width: 30%;
}

.topic.header-main .search{
    width: 30%;
}
.topic.header-main .add-position{
    width: 15%;
}

.modal-back#modal-back2{
    z-index: 91;
}

.modal-back#modal-alert{
    z-index: 98;
}

.modal#modal3{
    background-color: none;
    z-index: 92;
    left: 35%;  
    top: 35%;
    height: 30%;
    width: 30%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.modal#alert{
    background-color: none;
    z-index: 99;
    left: 35%;  
    top: 35%;
    height: 30%;
    width: 30%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.modal#modal3 .modal-box .request-doc{
    width: 100%;
    height: 100%;
}

.modal#modal3 .topic{
    height: 30%;
}
.modal#modal3 .border-input{
    height: 20%;
    width: 70%;
    margin-left: 5rem;
    margin-bottom: 2rem;
}
.modal#modal3 .topic:first-child{
    margin-top: 1rem;
}

.modal#modal3 .submit{
    height: 20%;
}

.paginator{
    min-width: 50%;
    margin-left: 3rem;
    margin-bottom: 1rem;
    height: 3rem;
    /* border: solid 2px #181a1e; */
    /* justify-self: start;
    align-self: end;
    display: flex; */
    display: flex;
    align-items: flex-end;
}

.paginator a{
    width: 2rem;
    height: auto;
    color: var(--color-cp);
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 0.75rem 0.75rem;
    margin-right: 0.3rem;
    border: solid 1px #7d8da1;
}

.paginator .current-page{
    background-color: var(--color-cp);
    color: var(--color-white);
}

.bg{
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 88;
}

.company-card{
    background-color: var(--color-white);
    width: 90%;
    height: 32rem;
    display: flex;
    margin: 2rem auto 0 auto;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: var(--box-shadow2);
}


.status-approve {
    padding: 5px;
    border-radius: 20px;
}

td .pendding {
    background-color: var(--color-warning);
}

td .success {
    background-color: var(--color-success);
}

td .danger {
    background-color: var(--color-danger);
}

td .pendding {
    color: var(--color-dark);
}

td .cp a,
td .success a,
td .danger a {
    color: var(--color-white);
}

.paginator{
    min-width: 50%;
    margin-left: 3rem;
    margin-bottom: 1rem;
    height: 3rem;
    /* border: solid 2px #181a1e; */
    /* justify-self: start;
    align-self: end;
    display: flex; */
    display: flex;
    align-items: flex-end;
}

.paginator a{
    width: 2rem;
    height: auto;
    color: var(--color-cp);
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 0.75rem 0.75rem;
    margin-right: 0.3rem;
    border: solid 1px #7d8da1;
}

.paginator .current-page{
    background-color: var(--color-cp);
    color: var(--color-white);
}

.table{
    width: 100%;
    min-height: 40rem;
}

.project {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0.5rem;
}

.project.close{
    display: none;
}

.project p{
    font-weight: 500;
}