<main>
    <div class="main">
        <div class="header-main">
            <h2>ข่าวสาร</h2>
        </div>
        
        <div class="request-doc">

            <div class="body-right">
                <div class="title">
                    <h2>asdasd</h2>
                </div>
                <div class="body-details" contenteditable="true">

                </div>
                <div class="footer">
                    <a href="#"><button type="submit">อัปเดต</button></a>
                        <a href="#"><button class="danger" type="submit">ลบ</button></a>
                        
                </div>
            </div>
            
        </div>
    </div> 
</main>